body {
    width: 100%;
    text-align: center;
    background: black;
    color: white;
}

img {
    border: 0;
}

button {
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
}

#stats[data-stats='stats-waiting'], #qrimage[data-stats='stats-waiting'], #reset[data-stats='stats-waiting'] {
    display:none;
}

#stats[data-stats='stats-present'], #qrimage[data-stats='stats-present'], #reset[data-stats='stats-present'] {
    display:block;
}

#rawdata[data-stats='stats-waiting'], #create[data-stats='stats-waiting'] {
    display:block;
}

#rawdata[data-stats='stats-present'], #create[data-stats='stats-present'] {
    display:none;
}
