body {
    width: 100%;
    text-align: center;
    background: black;
    color: white;
}

img {
    border: 0;
}

button {
    color: white;
    background: black;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
}

#stats.stats-waiting {
    display:none;
}

#stats.stats-present {
    display:block;
}

#qrimage.stats-waiting {
    display:none;
}

#qrimage.stats-present {
    display:block;
}

#reset.stats-waiting {
    display:none;
}

#reset.stats-present {
    display:block;
}

#rawdata.stats-waiting {
    display:block;
}

#rawdata.stats-present {
    display:none;
}

#create.stats-waiting {
    display:block;
}

#create.stats-present {
    display:none;
}
